body{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-family: 'Karla', sans-serif;
}

#main{
    background-image: url(images/grass.jpg);
    width: 600px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    font-family: inherit;
    font-size: 30px;
}
button {
    background-color: orangered;
    color: white;
    padding: 12px 40px;
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    border: none;   

}